<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form [formGroup] = "registerForm" class="example-form" (ngSubmit) = "OnSubmit()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="username" placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput  formControlName="password" placeholder="Password">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select  formControlName="role" >
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block"  >Register</button>
  
      </form>
    </mat-card>
  </div>