.ticket_card {
  width: 80%;
  min-width: 100vh;
  background-color: coral;
  margin-bottom: 1%;
  min-height: 25vh;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.mat-card-header .mat-card-title {
  font-size: 36px;
}

.mat-form-field-wrapper {
  display: flex;
  flex-direction: column;
}

.techy_background {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .small_spacer {
    margin-top: 3.5%;
  }
