<button mat-button [matMenuTriggerFor]="menu" *ngIf=" isLoggedIn | async; else elseBlock"> Hi {{username}} </button>
<ng-template #elseBlock>
    <button mat-button [matMenuTriggerFor]="menu"> Account </button>
</ng-template>

<mat-menu #menu="matMenu">
  <div class="coral_background">
    <div *ngIf= "!(isLoggedIn | async); else elseb" >
        <button mat-menu-item target="_self" rel="noopener" routerLink="/log-in" routerLinkActive="active" >Log In</button>
        <button mat-menu-item target="_self" rel="noopener" routerLink="/sign-up" routerLinkActive="active">Sign Up</button>    
    </div>
    <ng-template #elseb>
      <button mat-menu-item target="_self" rel="noopener" (click)= onLogOut()>Log Out</button>
      <div *ngIf="username == agent; else normalUser"> 
        <button mat-menu-item  routerLink="/agent-solutions" routerLinkActive="active">Pending Tickets</button>
      </div>
      <ng-template #normalUser>
        <button mat-menu-item  routerLink="/tickets" routerLinkActive="active">My Tickets</button>
      </ng-template> 
      <button mat-menu-item  routerLink="/settings" routerLinkActive="active">Settings</button>
    </ng-template>

  </div>
</mat-menu>
