
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: coral;
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3.5%;
  }

  .small_spacer {
    margin-top: 3.5%;
  }

  .solution {
    display: flex;
    margin-bottom: 3.5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: coral;
    max-width: 35%;
    margin-left: 35%;
    margin-right: 30%;
  }

  .techy_background {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }

  .example-item {
    height: 50px;
  }

  .FixedHeightContainer {
    
    height: 250px;
    width:250px; 
    padding:3px; 
    background:#f00;
    overflow:scroll;
}

.Content {
    height:224px;
    overflow:auto;
    background:#fff;
}

.scroll-container {
  overflow: scroll;
  height: 75%;
  width: auto;
  overflow-x: hidden;
}
.scroll-container::-webkit-scrollbar {
  width: 15px;
  margin-right: 5%;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #d6d0d0;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 139, 139);
}